<div class="index-content">
  <div class="new-post bg-light" >
    <%= form_with model:@post,local:true do |f| %>
      <%= f.label:title %>
      <%= f.text_field:title,placeholder:"菓子屋横丁",class:"form-control" %>
      <%= f.label:category %>
      <%= f.select:kind,[["グルメ","グルメ"],["観光","観光"],["ファッション","ファッション"],["体験","体験"]],{},class:"form-control" %>
      <%= f.label:body %>
      <%= f.text_field:body,placeholder:"風情のある街並みで散策",class:"form-control" %>
      <%= f.label:image %>
      <%= f.attachment_field:image %>
      <%= f.submit "投稿",class:"btn btn-primary mt-3" %>
    <% end %>
  </div>
  <div class="post">
    <div class="tab">
      <div class="tab-bar tab-active">すべて</div>
      <div class="tab-bar">グルメ</div>
      <div class="tab-bar">観光</div>
      <div class="tab-bar">ファッション</div>
      <div class="tab-bar">体験</div>
    </div>
    <div class="post-index box-show bg-light">
      <%= render "posts/index",posts:@posts %>
    </div>
    <div class="post-index bg-light">
      <%= render "posts/index",posts:@gourmand_posts %>
    </div>
    <div class="post-index bg-light">
      <%= render "posts/index",posts:@travel_posts %>
    </div>
    <div class="post-index bg-light">
      <%= render "posts/index",posts:@fashion_posts %>
    </div>
    <div class="post-index bg-light">
      <%= render "posts/index",posts:@experience_posts %>
    </div>
  </div>
</div>