<div class="card" style="width: 500px;">
  <%= attachment_image_tag @post,:image,fallback:"noimage.png",size:'400x550',class:"bd-placeholder-img card-img-top w-100" %>
  <div class="card-body">
    <h5 class="card-title"><%= @post.title %></h5>
    <p><%= @post.body %></p>
    <% if @post.favorite_by(current_user) %>
      <%= link_to post_favorites_path(@post.id),method: :delete do %>
        <i class="fas fa-heart"></i>
      <% end %>
    <% else %>
      <%= link_to post_favorites_path(@post.id),method: :post do %>
        <i class="far fa-heart"></i>
      <% end %>
    <% end %>
    <% if @post.user_id === current_user.id %>
      <%= link_to "削除",post_path(@post.id),method: :delete,class:"btn btn-danger btn-sm","data-confirm"=>"本当に削除していいですか？" %>
    <% end %>
  </div>
</div>
<div class="comment">
  
</div>