<!DOCTYPE html>
<html>
  <head>
    <title>Saitama</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/12120b9d9d.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav>
    <%= image_tag 'saitama.png',:size=>'120x80' %>
    <%= link_to "ログイン",new_user_session_path %>
    <%= link_to "ログアウト",destroy_user_session_path %>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
