<!DOCTYPE html>
<html>
  <head>
    <title>Saitama</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">


    <script src="https://kit.fontawesome.com/12120b9d9d.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div id="wrapper">
    <div id="sidebar" class="close bg-light">
      
    </div>
    <div id="main">
      <nav class="navbar bg-light shadow-sm">
        <button type="button" id="sidebarCollapse" class="btn">
          <i class="fa fa-angle-double-right fa-2x sidebar-icon"></i>
        </button>
        <%= link_to root_path, class:"saitama-icon" do %><%= image_tag 'saitama.png',:size=>'140x80' %><% end %>
        <%= link_to "ログイン",new_user_session_path %>
        <%= link_to "ログアウト",destroy_user_session_path %>
      </nav>
    
      <body>
        <%= yield %>
      </body>
    </div>
  </div>
</html>
